.vs/*
obj/*
bin/*
GeminiEducation2.0API/bin/*
GeminiEducation2.0API/obj/*

Infrastructure/GeminiEducation2.0API.Infrastructure/bin/*
Infrastructure/GeminiEducation2.0API.Infrastructure/obj/*
Infrastructure/GeminiEducation2.0API.Persistence/bin/*
Infrastructure/GeminiEducation2.0API.Persistence/obj/*
Presentation/GeminiEducation2.0API/bin/*
Presentation/GeminiEducation2.0API/obj/*
Core/GeminiEducation2.0API.Application/bin/*
Core/GeminiEducation2.0API.Application/obj/*
Core/GeminiEducation2.0API.Domain/obj/*
Core/GeminiEducation2.0API.Domain/bin/*


